@import '../css/fonts.css';


:root {
    --m-l: 'montserrat-light';
    --r-b: 'raleway-bold';
    --r-e-b: 'raleway-extrabold';
    --r-m: 'raleway-medium';
    --r-r: 'raleway-regular';
    --r-s: 'raleway-semibold';
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


/* /////////////////////////////////////////// header start /////////////////////////////////////// */

.leftside{
    background: #f6f6f6;
}

.box-i{
    padding: 106px 113px 108px 114px;
}


/* /////////////////////////////////////////// header finish /////////////////////////////////////// */


/* /////////////////////////////////////////// section start /////////////////////////////////////// */


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


.carousel-control-next {
    right: 0;
    top: 712px;
}

.carousel-control-prev {
    left: 0;
    top: 712px;
}

.box-bg{
    padding: 46px 0 45px;
}

.row-bg{
    background: #007d2f;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 702px;
    /* z-index: 15; */
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    /* margin: auto; */
    margin-left: 15%;
    list-style: none;
}

/* /////////////////////////////////////////// section finish /////////////////////////////////////// */

/* /////////////////////////////////////////// footer start /////////////////////////////////////// */


.block__3 {
    display: flex;
}

.block__3 ul li a {
    margin-right: 45px;
}

.box a {
    margin-right: 37px;
}

.footer__bg {
    background: #000000;
}

.footer__padding-bg {
    padding: 107px 0 94px;
}

a {
    color: #bcbcbc;
}

a:hover {
    color: #bcbcbc;
    text-decoration: none;
}

.textcolor {
    color: #bcbcbc;
}


/* /////////////////////////////////////////// footer finish /////////////////////////////////////// */

/* ///////////////////////////////////////////  /////////////////////////////////////// */
/* /////////////////////////////////////////// footer finish /////////////////////////////////////// */